{% extends 'studentapp/base.html' %}

{% block head_block %}
{%load crispy_forms_tags%}
{% load static %}
 <link rel="stylesheet" href="{% static 'css\login.css' %}">  
{% endblock  %}

{% block title_block %}
<title>SignUp</title>
{% endblock %}

{% block body_block %}
<div class="container"><br><br>
    <h1>SignUp Here</h1><hr>
    <form action="" method="POST">{% csrf_token %}
        {{form | crispy }}
        <center><button class="btn btn-primary btn-lg" type="submit">SignUp</button></center>
    </form>
</div>
{% endblock %}




